button {
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    width: 300px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#board {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: lightblue;
    position: relative;
    height: 600px;
    width: calc(100% - 20px);
    padding: 20px;
    cursor: pointer;
}


#resetButton {
    display: none;
}

#directions {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

#header {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

p {
    font-size: 16px;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}


#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}